@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Special+Elite&display=swap');
body {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

p,ul {
  font-size: 20pt;
  font-family:  Special Elite ; 
  font-weight: normal ;
  color: white
}
h1 {
  font-size: 80pt;
  font-weight: normal;
  color: brown;
  font-family: Creepster;
}
img {
  width: 550px;
}

a {
  color: white
}

.table{
  font-family: Special Elite;
  color: white;
}